<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="logo-nav-link link" href="./index.html"
        >Web<span class="logo-decoration">Studio</span></a
      >
      <ul class="menu-list menu list">
        <li class="menu-list-item">
          <a class="menu-link link active" href="./index.html">Studio</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-link link" href="./portfolio.html">Portfolio</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-link link" href="">Contacts</a>
        </li>
      </ul>
    </nav>
    <address class="address menu">
      <ul class="address-list list">
        <li class="address-list-item">
          <a class="addres-link link" href="mailto:info@devstudio.com"
            >info@devstudio.com</a
          >
        </li>
        <li class="address-list-item">
          <a class="addres-link link" href="tel:+110001111111"
            >+11 (000) 111-11-11</a
          >
        </li>
      </ul>
    </address>
    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg width="32" height="22" fill="currentColor">
        <use href="./img/icons.svg#icon-menu-hamburger"></use>
      </svg>
    </button>
  </div>
  <div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle js-close-menu">
      <svg fill="currentColor" width="8" height="8">
        <use href="./img/icons.svg#icon-close-black"></use>
      </svg>
    </button>
    <ul class="mobile-menu-link-list list">
      <li class="mobile-menu-link-item">
        <a
          class="mobile-menu-link mobile-menu-activ-link link"
          href="./index.html"
          >Studio</a
        >
      </li>
      <li class="mobile-menu-link-item">
        <a class="mobile-menu-link link" href="./portfolio.html">Portfolio</a>
      </li>
      <li class="mobile-menu-link-item">
        <a class="mobile-menu-link link" href="/">Contacts</a>
      </li>
    </ul>
    <div>
      <ul class="mobile-menu-adress-list list">
        <li class="mobile-menu-adress-item">
          <a
            class="mobile-menu-adress-link tel-accent link"
            href="tel:+110001111111"
            >+11 (000) 111-11-11</a
          >
        </li>
        <li class="mobile-menu-adress-item">
          <a
            class="mobile-menu-adress-link mail link"
            href="mailto:info@devstudio.com"
            >info@devstudio.com</a
          >
        </li>
      </ul>
      <ul class="mobile-menu-social-list list">
        <li class="mobile-menu-social-list-item">
          <a class="mobile-menu-social-item-link link" href="">
            <svg class="mobile-menu-social-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-menu-social-list-item">
          <a class="mobile-menu-social-item-link link" href="">
            <svg class="mobile-menu-social-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-menu-social-list-item">
          <a class="mobile-menu-social-item-link link" href="">
            <svg class="mobile-menu-social-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-menu-social-list-item">
          <a class="mobile-menu-social-item-link link" href="">
            <svg class="mobile-menu-social-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
