<section class="project-section">
  <div class="container">
    <h1 class="visually-hidden">Portfolio</h1>
    <ul class="button-list list">
      <li class="button-list-item">
        <button class="portfolio-btn" type="button">All</button>
      </li>
      <li class="button-list-item">
        <button class="portfolio-btn" type="button">Web Site</button>
      </li>
      <li class="button-list-item">
        <button class="portfolio-btn" type="button">App</button>
      </li>
      <li class="button-list-item">
        <button class="portfolio-btn" type="button">Design</button>
      </li>
      <li class="button-list-item">
        <button class="portfolio-btn" type="button">Marketing</button>
      </li>
    </ul>
    <ul class="project-list list">
      <li class="project-list-item">
        <a class="portfolio-link link" href="">
          <div class="overlay-container">
            <picture>
              <source
                srcset="./img/bankapp.jpg 1x, ./img/bankapp@2x.jpg 2x"
                media="(min-width: 1158px)"
              />
              <source
                srcset="./img/bankapp-tab.jpg 1x, ./img/bankapp-tab@2x.jpg 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="./img/bankapp-mob.jpg 1x, ./img/bankapp-mob@2x.jpg 2x"
                media="(min-width: 320px)"
              />
              <img src="./img/bankapp.jpg" alt="bankapp" />
            </picture>
            <p class="overlay-text">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App
            </p>
          </div>
          <div class="progect-name-container">
            <h2 class="project-title">Banking App Interface Concept</h2>
            <p class="project-text">App</p>
          </div>
        </a>
      </li>
      <li class="project-list-item">
        <a class="portfolio-link link" href="">
          <div class="overlay-container">
            <picture>
              <source
                srcset="./img/qr-code.jpg 1x, ./img/qr-code@2x.jpg 2x"
                media="(min-width: 1158px)"
              />
              <source
                srcset="./img/qr-code-tab.jpg 1x, ./img/qr-code-tab@2x.jpg 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="./img/qr-code-mob.jpg 1x, ./img/qr-code-mob@2x.jpg 2x"
                media="(min-width: 320px)"
              />
              <img src="./img/qr-code.jpg" alt="bankapp" width="396" />
            </picture>
            <p class="overlay-text">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App
            </p>
          </div>
          <div class="progect-name-container">
            <h2 class="project-title">Cashless Payment</h2>
            <p class="project-text">Marketing</p>
          </div>
        </a>
      </li>
      <li class="project-list-item">
        <a class="portfolio-link link" href="">
          <div class="overlay-container">
            <picture>
              <source
                srcset="
                  ./img/phone-notebook.jpg    1x,
                  ./img/phone-notebook@2x.jpg 2x
                "
                media="(min-width: 1158px)"
              />
              <source
                srcset="
                  ./img/phone-notebook-tab.jpg    1x,
                  ./img/phone-notebook-tab@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/phone-notebook-mob.jpg    1x,
                  ./img/phone-notebook-mob@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./img/phone-notebook.jpg"
                alt="Meditation App"
                width="396"
              />
            </picture>
            <p class="overlay-text">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App
            </p>
          </div>
          <div class="progect-name-container">
            <h2 class="project-title">Meditation App</h2>
            <p class="project-text">App</p>
          </div>
        </a>
      </li>
      <li class="project-list-item">
        <a class="portfolio-link link" href="">
          <div class="overlay-container">
            <picture>
              <source
                srcset="
                  ./img/steering-wheel.jpg    1x,
                  ./img/steering-wheel@2x.jpg 2x
                "
                media="(min-width: 1158px)"
              />
              <source
                srcset="
                  ./img/steering-wheel-tab.jpg    1x,
                  ./img/steering-wheel-tab@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/steering-wheel-mob.jpg    1x,
                  ./img/steering-wheel-mob@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./img/steering-wheel.jpg"
                alt="Taxi Service"
                width="396"
              />
            </picture>
            <p class="overlay-text">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App
            </p>
          </div>
          <div class="progect-name-container">
            <h2 class="project-title">Taxi Service</h2>
            <p class="project-text">Marketing</p>
          </div>
        </a>
      </li>
      <li class="project-list-item">
        <a class="portfolio-link link" href="">
          <div class="overlay-container">
            <picture>
              <source
                srcset="./img/wallpapers.jpg 1x, ./img/wallpapers@2x.jpg 2x"
                media="(min-width: 1158px)"
              />
              <source
                srcset="
                  ./img/wallpapers-tab.jpg    1x,
                  ./img/wallpapers-tab@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/wallpapers-mob.jpg    1x,
                  ./img/wallpapers-mob@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./img/wallpapers.jpg"
                alt="Screen Illustrations"
                width="396"
              />
            </picture>
            <p class="overlay-text">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App
            </p>
          </div>
          <div class="progect-name-container">
            <h2 class="project-title">Screen Illustrations</h2>
            <p class="project-text">Design</p>
          </div>
        </a>
      </li>
      <li class="project-list-item">
        <a class="portfolio-link link" href="">
          <div class="overlay-container">
            <picture>
              <source
                srcset="
                  ./img/earphones-girl.jpg    1x,
                  ./img/earphones-girl@2x.jpg 2x
                "
                media="(min-width: 1158px)"
              />
              <source
                srcset="
                  ./img/earphones-girl-tab.jpg    1x,
                  ./img/earphones-girl-tab@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/earphones-girl-mob.jpg    1x,
                  ./img/earphones-girl-mob@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./img/earphones-girl.jpg"
                alt="Online Courses"
                width="396"
              />
            </picture>
            <p class="overlay-text">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App
            </p>
          </div>
          <div class="progect-name-container">
            <h2 class="project-title">Online Courses</h2>
            <p class="project-text">Marketing</p>
          </div>
        </a>
      </li>
      <li class="project-list-item">
        <a class="portfolio-link link" href="">
          <div class="overlay-container">
            <picture>
              <source
                srcset="
                  ./img/insta-stories.jpg    1x,
                  ./img/insta-stories@2x.jpg 2x
                "
                media="(min-width: 1158px)"
              />
              <source
                srcset="
                  ./img/insta-stories-tab.jpg    1x,
                  ./img/insta-stories-tab@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/insta-stories-mob.jpg    1x,
                  ./img/insta-stories-mob@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./img/insta-stories.jpg"
                alt="Instagram Stories"
                width="396"
              />
            </picture>
            <p class="overlay-text">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App
            </p>
          </div>
          <div class="progect-name-container">
            <h2 class="project-title">Instagram Stories Concept</h2>
            <p class="project-text">Design</p>
          </div>
        </a>
      </li>
      <li class="project-list-item">
        <a class="portfolio-link link" href="">
          <div class="overlay-container">
            <picture>
              <source
                srcset="./img/hand-fruits.jpg 1x, ./img/hand-fruits@2x.jpg 2x"
                media="(min-width: 1158px)"
              />
              <source
                srcset="
                  ./img/hand-fruits-tab.jpg    1x,
                  ./img/hand-fruits-tab@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/hand-fruits-mob.jpg    1x,
                  ./img/hand-fruits-mob@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img src="./img/hand-fruits.jpg" alt="Organic Food" width="396" />
            </picture>
            <p class="overlay-text">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App
            </p>
          </div>
          <div class="progect-name-container">
            <h2 class="project-title">Organic Food</h2>
            <p class="project-text">Web Site</p>
          </div>
        </a>
      </li>
      <li class="project-list-item">
        <a class="portfolio-link link" href="">
          <div class="overlay-container">
            <picture>
              <source
                srcset="./img/milk-coffee.jpg 1x, ./img/milk-coffee@2x.jpg 2x"
                media="(min-width: 1158px)"
              />
              <source
                srcset="
                  ./img/milk-coffee-tab.jpg    1x,
                  ./img/milk-coffee-tab@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/milk-coffee-mob.jpg    1x,
                  ./img/milk-coffee-mob@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img src="./img/milk-coffee.jpg" alt="Fresh Coffee" width="396" />
            </picture>
            <p class="overlay-text">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App
            </p>
          </div>
          <div class="progect-name-container">
            <h2 class="project-title">Fresh Coffee</h2>
            <p class="project-text">Web Site</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
