<section class="section-team">
  <div class="container">
    <h2 class="team-title">Our Team</h2>
    <ul class="team-list list">
      <li class="team-list-item">
        <img
          srcset="./img/mark-guerrero.jpg 1x, ./img/mark-guerrero@2x.jpg 2x"
          src="./img/mark-guerrero.jpg"
          alt="Mark"
          width="264"
          height="260"
        />
        <div class="team-name-container">
          <h3 class="team-name">Mark Guerrero</h3>
          <p class="team-text">Product Designer</p>
          <ul class="social-list list">
            <li class="social-list-item">
              <a class="social-item-link link" href="">
                <svg class="social-svg" width="16" height="16">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a class="social-item-link link" href="">
                <svg class="social-svg" width="16" height="16">
                  <use href="./img/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a class="social-item-link link" href="">
                <svg class="social-svg" width="16" height="16">
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a class="social-item-link link" href="">
                <svg class="social-svg" width="16" height="16">
                  <use href="./img/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-list-item">
        <img
          srcset="./img/tom-ford.jpg 1x, ./img/tom-ford@2x.jpg 2x"
          src="./img/tom-ford.jpg"
          alt="Tom"
          width="264"
          height="260"
        />
        <div class="team-name-container">
          <h3 class="team-name">Tom Ford</h3>
          <p class="team-text">Frontend Developer</p>
          <ul class="social-list list">
            <li class="social-list-item">
              <a class="social-item-link link" href="">
                <svg width="16" height="16">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a class="social-item-link link" href="">
                <svg width="16" height="16">
                  <use href="./img/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a class="social-item-link link" href="">
                <svg width="16" height="16">
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a class="social-item-link link" href="">
                <svg width="16" height="16">
                  <use href="./img/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-list-item">
        <img
          srcset="./img/camila-garcia.jpg 1x, ./img/camila-garcia@2x.jpg 2x"
          src="./img/camila-garcia.jpg"
          alt="Camila"
          width="264"
          height="260"
        />
        <div class="team-name-container">
          <h3 class="team-name">Camila Garcia</h3>
          <p class="team-text">Marketing</p>
          <ul class="social-list list">
            <li class="social-list-item">
              <a class="social-item-link link" href="">
                <svg width="16" height="16">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a class="social-item-link link" href="">
                <svg width="16" height="16">
                  <use href="./img/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a class="social-item-link link" href="">
                <svg width="16" height="16">
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a class="social-item-link link" href="">
                <svg width="16" height="16">
                  <use href="./img/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-list-item">
        <img
          srcset="./img/daniel-wilson.jpg 1x, ./img/daniel-wilson@2x.jpg 2x"
          src="./img/daniel-wilson.jpg"
          alt="Deniel"
          width="264"
          height="260"
        />
        <div class="team-name-container">
          <h3 class="team-name">Daniel Wilson</h3>
          <p class="team-text">UI Designer</p>
          <ul class="social-list list">
            <li class="social-list-item">
              <a class="social-item-link link" href="">
                <svg width="16" height="16">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a class="social-item-link link" href="">
                <svg width="16" height="16">
                  <use href="./img/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a class="social-item-link link" href="">
                <svg width="16" height="16">
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a class="social-item-link link" href="">
                <svg width="16" height="16">
                  <use href="./img/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
