:root {
  --main-color: #434455;
  --main-background-color: #ffffff;
  --navy-blue: #2e2f42;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --customers-color: #8e8f99;
  --cornflower: #e7e9fc;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--main-color);
  background-color: var(--main-background-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  width: 100%;
}

button {
  cursor: pointer;
  text-align: center;
}
